<div class="divEditor">
    <div class="divImage">
        <canvas id="canvas" style="border: dotted;"></canvas>
        <input type="text" id="txtBoxText" title="txtBoxText">
    </div>
    <div class="divTool">
        <div class="divTabTitle">
            <label id="lblFilter" onclick="filterClick()">Filter</label>
            <label id="lblEditor" onclick="editorClick()">Editor</label>
        </div>

        <div class="divTabDetail" id="tabDtlFilter">
            <label class="lblTabDetailTitle">Filters</label>

            <div class="divFilterInfo">
                <label for="inBrightness">Brighteness</label>
                <label id="lblBrightnessValue" for="inBrightness">100%</label>
            </div>
            <input type="range" id="inBrightness" value="100" min="0" max="200" oninput="sliderValueChanged('Brightness')">

            <div class="divFilterInfo">
                <label for="inSaturation">Saturation</label>
                <label id="lblSaturationValue" for="inSaturation">100%</label>
            </div>
            <input type="range" id="inSaturation" value="100" min="0" max="200" oninput="sliderValueChanged('Saturation')">

            <div class="divFilterInfo">
                <label for="inContrast">Contrast</label>
                <label id="lblContrastValue" for="inContrast">100%</label>
            </div>
            <input type="range" id="inContrast" value="100" min="0" max="200" oninput="sliderValueChanged('Contrast')">

            <div class="divFilterInfo">
                <label for="inGrayscale">Grayscale</label>
                <label id="lblGrayscaleValue" for="inGrayscale">0%</label>
            </div>
            <input type="range" id="inGrayscale" value="0" min="0" max="100" oninput="sliderValueChanged('Grayscale')">

            <div class="divFilterInfo">
                <label for="inInversion">Inversion</label>
                <label id="lblInversionValue" for="inInversion">0%</label>
            </div>
            <input type="range" id="inInversion" value="0" min="0" max="100" oninput="sliderValueChanged('Inversion')">

            <button type="button" onclick="rotateLeft()"><img title="rotate-left" src="~/Content/CSS/rotate-left.png" />Rotate Left</button>
            <button type="button" onclick="rotateRight()"><img title="rotate-right" src="~/Content/CSS/rotate-right.png" />Rotate Right</button>
            <button type="button" onclick="zoomIn()"><img title="zoom-in" src="~/Content/CSS/zoom-in.png" />Zoom In</button>
            <button type="button" onclick="zoomOut()"><img title="zoom-out" src="~/Content/CSS/zoom-out.png" />Zoom Out</button>
        </div>

        <div class="divTabDetail" id="tabDtlEditor">
            <label class="lblTabDetailTitle">Editors</label>
            <button type="button" onclick="crop()"><img title="crop" src="~/Content/CSS/crop.png" />Crop</button>
            <button type="button" onclick="eraser()"><img title="eraser" src="~/Content/CSS/eraser.png" />Eraser</button>
            <button type="button" onclick="text()"><img title="text" src="~/Content/CSS/text.png" />Text</button>
        </div>

        <button type="button" onclick="resetFilter()">RESET FILTERS</button>
        <button type="button">SAVE</button>
    </div>
</div>
<canvas id="hiddenCanvas" style="border: solid;"></canvas>

<link rel="stylesheet" href="~/Content/Canvas.css" />
<script src="~/Scripts/Canvas.js"></script>
