.divImage {
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.divTool {
    display: flex;
}

    .divTool button {
        padding: 5px;
        font-size: 14px;
        border-radius: 3px;
        background: none;
    }

        .divTool button:hover {
            background: #f5f5f5;
        }

        .divTool button:active {
            color: #fff;
            background: #5372f0;
        }

        .divTool button img {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }

.divEditor {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
    padding: 10px;
    margin-top: 10px;
}

    .divEditor input[type=color] {
        position: absolute;
        padding: 5px;
        margin-top: 3px;
        margin-left: 5px;
    }

.divFilter {
    display: flex;
    padding-top: 10px;
    font-size: 14px;
}

.divSlider {
    width: 25%;
    margin-right: 10px;
}

    .divSlider input {
        width: 100%;
        accent-color: #5372f0;
    }

.divCheckBox input {
    width: 25px;
    height: 25px;
    accent-color: #5372f0;
}

.divCheckBox label {
    position: absolute;
    padding-left: 5px;
}

.divSubmit {
    display: grid;
    padding: 10px;
}

    .divSubmit button {
        height: 60%
    }
