.divEditor {
    display: flex;
}

.divImage {
    width: 60%;
    height: 500px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 20px;
    overflow: auto;
}

.divTool {
    width: 25%;
}

.divTool button {
    padding: 11px;
    font-size: 14px;
    border-radius: 3px;
    background: none;
}

.divTool button:hover {
    background: #f5f5f5;
}

.divTool button:active {
    color: #fff;
    background: #5372f0;
}

.divTool button img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.divTabTitle {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.divTabDetail {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}

.lblTabDetailTitle {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
}

.divFilterInfoSlider {
    display: flex;
    justify-content: space-between;
}

.divFilterInfoCheckBox {
    display: flex;
    width: 10%;
}

.divFilterInfoCheckBox input {
    margin: 5px;
}

#tabDtlFilter input {
    width: 100%;
    accent-color: #5372f0;
}

#tabDtlFilter button {
    width: calc(100% / 2 - 15px);
    margin: 5px;
}

#tabDtlEditor {
    width: 100%;
}

#tabDtlEditor button {
    width: 50%;
    margin: 5px;
}
